#display-container {
	height:480px;
	width:100%;
}

.core {
	float:top;
	font-size:10px;
	position:absolute;
	background-color:#080808;
	z-index:1;
}

.popover {
	max-width:500px;
	/*word-break:break-all;*/
	word-wrap:break-word;
}

.popover-content {
	color:#080808;
}
